---
title:
layout: home
---

%section
  %p
    Thomas has into webdesign and devlopment 2000, focusing on building and maintaining applications. He started humble with a text-file based blog-software written in PHP before moving on to Ruby on Rails in 2007. In 2010 he added MongoDB to his toolkit and has this NoSQL database in production for a client since 2010, without any regrets.

