---
title: Maker
---

I'm a member of /dev/lol hackerspace in Linz and was also part of the official team for two terms including its first year serving as treasurer.


* https://devlol.org/wiki/TomK32
* http://www.thingiverse.com/TomK32
