---
layout: page
title: Maker
---

I'm a member of /dev/lol hackerspace in Linz and was also part of the official team for two terms including its first year serving as treasurer.

%ul
  %li https://devlol.org/wiki/TomK32
  %li 3D Models I've created http://www.thingiverse.com/TomK32
