---
layout: page
title: Resume
---

This is my resume, for a few more details have a look onto my page of
%a{href: '/clients'} Clients

%p I was born in 1982 in Bavaria, studied at Salzburg University for a few years before professional work drew too much of my time. In those years I also did a lot of editing on the early Wikipedia, became admin in 2004, published a bi-weekly PDF mag and many more things
%p Besides work I enjoy programming video games, hacking small electronics projects (arduino, EPS8266, IoT, etc), sailing, photography.
%p In 2015 my life changed a lot with our child, and I'm loving it.

%h2 Skillset
%ul
  %li Ruby on Rails since 2007
  %li Javascript, Coffeescript, jQuery, nodejs, backbone, responsive design, some angular ...
  %li Amazon EC2 (e.g. Autoscaling)
  %li git (since 2008)
  %li SCRUM
  %li Python, Lua, some C (Arduino) and C# (Unity3D)
  %li running a hackerspace (together with awesome people)

%h2 Interesting weblinks
  %li
    %a{href: 'http://github.com/TomK32'} Github
  %li
    %a{href: 'http://stackoverflow.com/users/story/336392'} Stackoverflow
  %li
    %a{href: 'http://www.thingiverse.com/TomK32'} Thingiverse

