$fa-font-path: '/assets/fonts/';

$color-link: #3333CC;
$bgcolor-head: #222222;
$color-head: #EEEEEE;
$highlight-color-head: #22DD22;
$color-text: #111111;
$grey-text-color: #555555;
$font-large: 'Amaranth', sans-serif;
$font-regular: 'Sarala', sans-serif;

$box-padding: 2em;
$border-radius: 0.4em;

$screen-width: 50em;

body {
  font-family: $font-regular;
  font-size: 15px;
  color: $color-text;
}
ul, p, section, article {
  line-height: 1.4em;
}

a, a:visited {
  text-decoration: none;
  color: $color-link;
  &:hover, &:active {
    text-decoration: underline;
    color: $color-link + #222222;
  }
}

p, ul, ol, dl {
  margin: $box-padding / 4 0 $box-padding / 2 0;
}

h1, h2, h3 {
  margin: 0.5em 0 0 0;
  small {
    font-size: 10px;
  }
}

p code {
  background: #DDD;
  border-radius: $border-radius;
  padding: 0.2em 0.4em;
}


#head {
  background-color: $bgcolor-head;
  color: $color-head;
  .site-title {
    font-size: 3em;
    font-family: $font-large;
    a {
      color: $highlight-color-head !important;
      text-decoration: none !important;
    }
  }
  .site-description {
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.6;
  }
  a {
    color: inherit;
    opacity: 0.8;
  }

  #profile-image {
    width: 7em;
    height: 7em;
    vertical-align: middle;
    float: right;
  }
}

footer {
  background-color: $bgcolor-head;
  color: $color-head;
  a {
    color: $highlight-color-head !important;
    text-decoration: underline !important;
  }
}

.meta {
  color: $grey-text-color;
  font-style: italic;
}

.intro {
  font-size: 1.3em;
  font: $font-large;
}

#posts ul {
  list-style-type: none;
  padding: 0;
  li {
    margin: 0 0 0.2em 0;
  }
  .meta {
    float: left;
    width: 9em;
    overflow: hidden;
    white-space: nowrap;
    text-align: right;
    padding-right: 1em;
  }
}

@media (max-width: $screen-width*0.66) {
  #head {
    #profile-image {
      display: none;
    }
  }
}
@media (max-width: $screen-width) {
  .intro {
    font-size: 1.2em;
  }
  ul, p, section, article {
    line-height: 1.6em;
  }
  .inner {
    padding: ($box-padding / 4) ($box-padding / 2);
  }
  nav .inner {
    padding-bottom: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.2em;
    li a {
      display: block;
      border-radius: $border-radius;
      width: 100%;
      background-color: #EEE;
      margin: 0.2em 0 0 0;
      text-align: center;
    }
  }
  #head {
    text-align: center;
    .site-description {
      font-size: 0.9em;
    }
    position: relative;
    #profile-image {
      margin-top: 0.1em;
      position: absolute;
      right: 1em;
      top: 9%;
      //margin-bottom: 2em; // to move the tagline and social links into the center
      width: auto;
      height: 80%;

    }
  }
  #posts ul {
    li a {
      display: block;
      background-color: #EEE;
      border-radius: $border-radius;
      padding: 0 $border-radius;
      margin-bottom: $border-radius * 2;
    }
    .meta {
      display: none;
    }
  }
}

@media (min-width: $screen-width) {
  #head, nav, #content, footer {
    .inner {
      padding: $box-padding 0;
      max-width: $screen-width;
      margin: 0 auto;
    }
  }
  nav .inner {
    padding: 0.1em 0 0.2em 0;
    text-align: center;
    ul {
      padding: 0;
      margin: $box-padding / 4 auto;
      li {
        display: inline;
        margin: 0 1em 0 0;
      }
    }
  }
  #head .inner {
    padding: $box-padding 0;
    max-width: $screen-width - 2 * $box-padding;
  }
  footer .inner {
    max-width: $screen-width - 2 * $box-padding;
  }
}

.profile {
  &.github {
    //span { display: none; }
  }
}

#tag-cloud a {
  display: inline-block;
  padding: 0.4em 0.3em;
}
@for $i from 1 through 5 {
  .set-#{$i} {
    font-size: #{0.8em + 0.2em * $i};
  }
}


