<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <link rel='stylesheet' href="{{ '/assets/apollonia.css' | relative_url }}" />
    <link rel='stylesheet' media="print" href="{{ '/assets/print.css' | relative_url }}" />
    <title>{% if page.title %}{{ page.title }} → {% endif %}{{ site.title }} </title>
    <meta name="keywords" content="{%if page.tags %}{{page.tags}}{% else %}{{site.keywords }}{% endif %}">
    <meta name="description" content="{%if page.description %}{{page.description}}{% else %}{{site.description }}{% endif %}">
    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    {% feed_meta %}
  </head>

  <body>
    <div id="head">
      <div class="inner">
        <a href="{{site.profile_image | relative_url}}"><img src="{{ site.profile_image_small | relative_url }}" width="80" height="80" id="profile-image" alt="profile image" /></a>
        <div class="site-title">
          <a href="{{ site.base_url }}/">{{ site.title }}</a>
        </div>
        <span class="site-description">{{ site.description }}</span>
        <div>
        {% if hide_profiles != true %}
        {% for profile in site.external_profiles %}
        <a href="{{ profile[1] }}" title="{{ profile[0] }}" class="profile {{ profile[0] }}">
          <span>{{ profile[0] }}</span>
        </a>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>

    <nav>
      <div class="inner">
        {% if show_navigation != false %}
        <ul>
        {% for p in site.pages %}
        {% if p.skip_nav != true and p.title and p.parent == nil or p.parent != page.id %}
        <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </div>
    </nav>
    <div id="content">
      <div class="inner">
        {{ content }}
      </div>
    </div>

    <footer>
    <div class="inner">
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      &bull;
      <a href="mailto:{{site.email}}">mail me</a> if you need a freelance webdeveloper in Linz, Austria.
      &bull;
      <a href="/impressum.html">Impressum</a>
    </div>
    </footer>
  </body>
</html>
