!!!
%html{lang: "{{ page.lang | default: site.lang | default: 'en' }}"}
  %head
    %link{rel: 'stylesheet', href: "{{ '/assets/apollonia.css' | relative_url }}"}
    %title {% if page.title %}{{ page.title }} → {% endif %}{{ site.title }}
    <!-- http://t.co/dKP3o1e -->
    %meta{name: "HandheldFriendly", content: "True"}
    %meta{name: "MobileOptimized", content: "320"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=UTF-8"}

  %body
    #head
      .inner
        .site-title
          %a{href: "{{ site.base_url }}/"} {{ site.title }}
        .site-description {{ site.description }}
        {% if hide_profiles != true %}
        {% for profile in site.external_profiles %}
        %a{href: "{{ profile[1] }}", title: "{{ profile[0] }}", class: "profile {{ profile[0] }}"}
          %span {{ profile[0] }}
        {% endfor %}
        {% endif %}

    %nav
      .inner
        {% if show_navigation != false %}
        %ul
          {% for p in site.pages %}
          {% if p.title and p.parent == nil or p.parent != page.id %}
          %li
            %a{href: "{{ p.url }}"} {{ p.title }}
          {% endif %}
          {% endfor %}
        {% endif %}
    #content
      .inner
        {{ content }}
  %footer
    .inner
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
      &bull;
      %a{href: "mailto:{{site.email}}"} mail me
