---
layout: default
---
<article>
  <h1>{{ page.title}}</h1>
  <div class="meta">
    {% if page.date %}
    <span class="created-at">
      {{ page.date | date_to_long_string }}
    </span>
    {% endif %}
    {% if page.categories.size != 0 %}
    <span class="categories">
      &bull;
      Categories:
      {% for category in page.categories %}
      {{ category }}
      {% endfor %}
    </span>
    {% endif %}
    {% if page.tags.size != 0 %}
    <span class="tags">
      &bull;
      Tags:
      {% for tag in page.tags %}
        {{ tag | tag_link }}
        {% if tag != page.tags.last %}
        &mdash;
        {% endif %}
      {% endfor %}
    </span>
    {% endif %}
  </div>
  {{ content }}
</article>

<div style="display: flex; justify-content: space-between; margin: 5em 0 3em 0;">
  {% if page.previous.url %}
    <a href="{{page.previous.url}}" title="Previous post">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{page.next.url}}" title="Next post">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>

<hr>

<h4>Random posts</h3>
<ul>
{% assign random_posts = site.posts | sample:4 %}
{% for post in random_posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a> ({{post.date | date_to_long_string}})</li>
{% endfor %}
</ul>
